* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(37, 37, 95);
}

#container {
    width: 500px;
    height: 500px;
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap; 
    margin: 60px auto;
}

.square {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.square-hard {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.square-crazy {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.square,
.square-hard,
.square-crazy {
    border: 2px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square.active,
.square-hard.active,
.square-crazy.active {
    background-color: green;
}

.square.active.mina,
.square-hard.active.mina,
.square-crazy.active.mina {
    background-color: red;
}
